/*---------------------------------------------------------------------------
                                fonts
-----------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* font-family: 'Work Sans', sans-serif; */



/*------------------------------------------------------------------------------
                            common styles start
--------------------------------------------------------------------------------*/

body {
    font-family: 'Work Sans', sans-serif;
}

/*-----------------------------------------------------------------------------
                            common styles end
-------------------------------------------------------------------------------*/




/*------------------------------------------------------------------------------
                            header styles start
--------------------------------------------------------------------------------*/

.header {
    /* border: 3px double; */
    background-color: #FF900E1A;
}
.navbar {
    display: flex;
    /* border: 3px dashed; */
    justify-content: center;
    padding-top: 26px;
    align-items: center;
}

.nav-title {
    /* border: 2px dotted; */
    margin: 0px 300px 0px 50px;
    font-weight: 700;
    font-size: 45px;
}

.nav-btns {
    /* border: 1px solid; */
    display: flex;

}

.nav-btn {
    padding-left: 80px;
    list-style-type: none;

}

.nav-btn a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.head {
    /* border: 3px dashed; */
    margin-top: 80px;
    padding-bottom: 50px;
}

.head-title {
    /* border: 2px dotted; */
    width: 450px;
    height: auto;
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
}

.head-info {
    /* border: 1px solid; */
    width: 800px;
    height: 52px;
    margin: auto;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.head-btn {
    /* border: 4px dashed; */
    display: block;
    margin: auto;
    background-color: #FF900E;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
    border: none;
    margin-top: 20px;
    margin-bottom: 35px;
}

.head-image {
    /* border: 5px dotted; */
}

.head-image img {
    width: 1080px;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 8px;
}

/*-----------------------------------------------------------------------------
                            header styles end
-------------------------------------------------------------------------------*/





/*-------------------------------------------------------------------------------
                                main styles start
---------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------
                                main styles end
---------------------------------------------------------------------------------*/




/*------------------------------------------------------------------------------
                            footer styles start
--------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
                            footer styles end
--------------------------------------------------------------------------------*/






/*------------------------------------------------------------------------------
                            responsive styles
--------------------------------------------------------------------------------*/